/* Variable List */

:root{
    --gv-color : #F85A40;
    --gta-color : #0CB9C1;
    --gte-color : #FFC845;
    --aiesec-tet-color: #52565E;
    --aiesec-text-project-color: #33333a;
    --opportunity-button-text: aliceblue;
}

/*AIESEC logo*/

#aiesec-logo {
    background-image: url("images/aiesec.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* Paragraph Description*/

#aiesec-text{
    color: var(--aiesec-tet-color);
    font-size: 20px;
}

/* Header */

#aiesec-text-project{
    color: var(--aiesec-text-project-color);
}

/*  Content area*/

#content-area{
    padding-left: 110px ;
    padding-right: 110px ;
}

/*  Volunteer button*/

#gv-btn{
    background-color: var(--gv-color);
}

/*  Talent Button*/

#gta-btn{
    background-color: var(--gta-color);
}

/*  Teacher Button*/

#gte-btn{
    background-color: var(--gte-color);
}

/* All buttons*/

.opportunity-button{
    color: var(--opportunity-button-text);
    padding: 15px;
    border :none;
    border-radius: 5px;
    font-weight: 800;
    width: 200px;
    margin-right:20px;
}

/*Content Centering*/

html,
body {
    height: 100%;
    margin: 0;
    padding-left: 15vh;
    padding-right: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}